

.lds-payments {

    
    &-test {
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid red;
        color: red;
        background: url(./payments-sidenav.png) no-repeat center center;
        background-size: 1200px 600px;
    }

}